In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [12]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [10]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [9]:
# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [13]:
'''  
The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it unlike loc(). iloc() does not accept the boolean data unlike loc().
whereas,
The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select. This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc(). 
'''

'  \nThe iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it unlike loc(). iloc() does not accept the boolean data unlike loc().\nwhereas,\nThe loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select. This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc(). \n'

In [14]:
# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
#then find the output for both new_df.loc[2] and new_df.iloc[2].

In [15]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)

In [18]:
new_df.loc[2]
#new_df.iloc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [19]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [21]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [22]:
''' 
Yes, I have observed the diffrence in both new_df.loc[2] and new_df.iloc[2]
Here, new_iloc[2], it gives the row which is in the 2nd index, whereas new_df.loc[2]
it looks for the index name 2 and gives that row as output.

'''

' \nYes, I have observed the diffrence in both new_df.loc[2] and new_df.iloc[2]\nHere, new_iloc[2], it gives the row which is in the 2nd index, whereas new_df.loc[2]\nit looks for the index name 2 and gives that row as output.\n\n'

In [23]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [24]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.431634  0.395866  0.688483  0.402798  0.474971  0.859959
2  0.828409  0.306454  0.867451  0.927964  0.568608  0.085027
3  0.440298  0.691721  0.598337  0.371847  0.499806  0.828988
4  0.834059  0.953062  0.248761  0.851703  0.473171  0.028499
5  0.682549  0.143025  0.411496  0.373337  0.607700  0.938351
6  0.587882  0.063743  0.077249  0.134122  0.294774  0.536457

In [25]:
''' 
Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’
'''

' \nQ4. Write a code to find the following statistical measurements for the above dataframe df1:\n(i) mean of each and every column present in the dataframe.\n(ii) standard deviation of column, ‘column_2’\n'

In [26]:
# i) 
df1.mean()

column_1    0.634139
column_2    0.425645
column_3    0.481963
column_4    0.510295
column_5    0.486505
column_6    0.546214
dtype: float64

In [27]:
# ii) 
df1['column_2'].std()

0.33908883367782816

In [28]:
''' 
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

'''

' \nQ5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the\nmean of column, column_2.\nIf you are getting errors in executing it then explain why.\n[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]\n\n'

In [30]:
df1.loc[2] = 'saugat'

In [31]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.431634  0.395866  0.688483  0.402798  0.474971  0.859959
2    saugat    saugat    saugat    saugat    saugat    saugat
3  0.440298  0.691721  0.598337  0.371847  0.499806  0.828988
4  0.834059  0.953062  0.248761  0.851703  0.473171  0.028499
5  0.682549  0.143025  0.411496  0.373337    0.6077  0.938351
6  0.587882  0.063743  0.077249  0.134122  0.294774  0.536457

In [32]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [33]:
''' 
I am getting error as I am trying to add string with numbers 
'''

' \nI am getting error as I am trying to add string with numbers \n'

In [34]:
#Q6. What do you understand about the windows function in pandas and list the types of windows
#functions?

In [35]:
''' 
In Pandas, the term "windows function" refers to methods thast operates on a specified 
rollling or expanding window of  data. These functions are particularly useful for time 
series data or any ordered data where you want to perform claculations on a moving subset of your data.

The types of windows functions are listed below:
i) Rolling windows functions
ii) Expanding windows functions

'''

' \nIn Pandas, the term "windows function" refers to methods thast operates on a specified \nrollling or expanding window of  data. These functions are particularly useful for time \nseries data or any ordered data where you want to perform claculations on a moving subset of your data.\n\nThe types of windows functions are listed below:\ni) Rolling windows functions\nii) Expanding windows functions\n\n'

In [36]:
# Q7. Write a code to print only the current month and year at the time of answering this question.
#[Hint: Use pandas.datetime function]

In [37]:
dt = pd.to_datetime('2023-01-01')
cm = dt.month
cy = dt.year

In [38]:
print(cm)
print(cy)

1
2023

In [40]:
# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
# calculates the difference between them in days, hours, and minutes using Pandas time delta. The
# program should prompt the user to enter the dates and display the result.

In [46]:
#getting user input
d1 = input("Date in form YYYY-MM-DD")
d2 = input("Date in form YYYY-MM-DD")

# converting d1 and d2 to date-time, dtype\
d1 = pd.to_datetime(d1)
d2 = pd.to_datetime(d2)

td = d2-d1
days = td.days
minutes= td.seconds // 60
hours = (td.seconds//3600) % 24

print(f"Time difference: {days} days, {hours} hours, {minutes} minutes")

585
0
0

In [47]:
''' 
Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.
'''

' \nQ9. Write a Python program that reads a CSV file containing categorical data and converts a specified\ncolumn to a categorical data type. The program should prompt the user to enter the file path, column\nname, and category order, and then display the sorted data.\n'

In [48]:
import pandas as pd

def convert_to_categorical(file_path, column_name, category_order):
    # Read the CSV file into a Pandas DataFrame
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print("File not found. Please enter a valid file path.")
        return

    # Convert the specified column to a categorical data type
    try:
        df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    except KeyError:
        print(f"Column '{column_name}' not found in the DataFrame.")
        return

    # Display the sorted data
    sorted_data = df.sort_values(by=[column_name])
    print(sorted_data)

# Example usage:
file_path = input("Enter the file path of the CSV file containing categorical data: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the category order (comma-separated): ").split(',')

convert_to_categorical(file_path, column_name, category_order)

File not found. Please enter a valid file path.

In [49]:
''' 
Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.
'''

' \nQ10. Write a Python program that reads a CSV file containing sales data for different products and\nvisualizes the data using a stacked bar chart to show the sales of each product category over time. The\nprogram should prompt the user to enter the file path and display the chart.\n'

In [50]:
import pandas as pd
import matplotlib.pyplot as plt

def visualize_sales(file_path):
    # Read the CSV file into a Pandas DataFrame
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print("File not found. Please enter a valid file path.")
        return

    # Check if the DataFrame contains the necessary columns
    if 'Date' not in df.columns or 'Category' not in df.columns or 'Sales' not in df.columns:
        print("Missing required columns (Date, Category, Sales) in the DataFrame.")
        return

    # Convert 'Date' column to datetime
    df['Date'] = pd.to_datetime(df['Date'])

    # Pivot the DataFrame to have 'Date' as the index, 'Category' as columns, and 'Sales' as values
    pivot_df = df.pivot(index='Date', columns='Category', values='Sales').fillna(0)

    # Plotting the stacked bar chart
    pivot_df.plot(kind='bar', stacked=True, figsize=(10, 6))
    plt.title('Stacked Bar Chart of Sales by Product Category')
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.legend(title='Category', bbox_to_anchor=(1.05, 1), loc='upper left')
    plt.show()

# Example usage:
file_path = input("Enter the file path of the CSV file containing sales data: ")
visualize_sales(file_path)

File not found. Please enter a valid file path.

In [51]:
import pandas as pd

def calculate_statistics(file_path):
    # Prompt the user to enter the file path of the CSV file containing student data
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print("File not found. Please enter a valid file path.")
        return

    # Check if the DataFrame contains the necessary columns
    if 'Test Score' not in df.columns:
        print("Missing required column 'Test Score' in the DataFrame.")
        return

    # Calculate mean, median, and mode
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_scores = df['Test Score'].mode()

    # Display the results in a table
    results_table = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]
    })

    print(results_table)

# Example usage:
file_path = input("Enter the file path of the CSV file containing the student data: ")
calculate_statistics(file_path)

File not found. Please enter a valid file path.